@model Customer

<div class="alert alert-info">
    You are about to update @Model.FirstName @Model.LastName
</div>

<form asp-action="Edit" method="post" class="form-horizontal" role="form">
    <div class="form-group" hidden>
        <label asp-for="CustomerID" class="col-md-2 control-label" ></label>
        <div class="col-md-5">
            <input asp-for="CustomerID" class="form-control" value="@Model.CustomerID" readonly />
            <span asp-validation-for="CustomerID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FirstName" class="form-control" value="@Model.FirstName"  />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="LastName" class="form-control" value="@Model.LastName"  />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Phone" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Phone" class="form-control" value="@Model.Phone"  />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Address" class="form-control" value="@Model.Address"  />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="City" class="form-control" value="@Model.City"  />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PostalCode" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="PostalCode" class="form-control" value="@Model.PostalCode"  />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <a asp-controller="Customer" asp-action="List" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>
