@model Order

<div class="alert alert-info">
    You are about to update order number @Model.OrderID that was placed on @Model.OrderDate
</div>

<form asp-action="EditOrder" method="post" class="form-horizontal" role="form">
    <div class="form-group" hidden>
        <label asp-for="OrderID" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="OrderID" class="form-control" value="@Model.OrderID" readonly />
            <span asp-validation-for="OrderID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group" hidden>
        <label asp-for="CustomerID" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="CustomerID" class="form-control" value="@Model.CustomerID" readonly />
            <span asp-validation-for="CustomerID" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group" hidden>
        <label asp-for="OrderDate" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input type="date" asp-for="OrderDate" class="form-control" value="@Model.OrderDate" readonly />
            <span asp-validation-for="OrderDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Status" class="col-md-2 control-label"></label>
        <div class="col-md-5">

            <select class="form-control" asp-for="Status">
                @foreach (var stat in Model.Statuses())
                {
                    <option value="@stat">
                        @stat
                    </option>
                }
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Comments" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Comments" class="form-control" value="@Model.Comments" />
            <span asp-validation-for="Comments" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <a asp-controller="Order" asp-action="List" class="btn btn-default">Cancel</a>
        <button type="submit" class="btn btn-success">Update</button>
    </div>
</form>
