@model List<OrderProduct>


<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">Car</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <th class="text-center">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var el in Model)
            {
                <tr>
                    <td class="text-center"><p>@Html.DisplayFor(m => el.Product.Name)</p></td>
                    <td class="text-center"><p><a asp-controller="Order" asp-action="Extras" asp-route-orderID="@el.OrderID" asp-route-productID="@el.ProductID" class="btn btn-info">Add Extras</a></p></td>
                    <td class="text-center"><p>@Html.DisplayFor(m => el.Extra.ExtraName) </p></td>
                    <td class="text-center"><p>@Html.DisplayFor(m => el.Price)</p></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <a asp-controller="Order" asp-action="List" class="btn btn-info">All Orders</a>
    </div>
</div>